@import "tailwindcss";
@plugin "daisyui";

:root {
  /* background-color: rgba(28, 28, 32, 255); */
  background-color: #121212;
  /* background-image: url(https://images.unsplash.com/photo-1515879218367-8466d910aaa4?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE1fHx8ZW58MHx8fHx8); */
}

/* :root::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: inherit;
  opacity: 0.2;
  pointer-events: none;
  z-index: 0;
} */

body,
#root {
  min-height: 100vh;
  min-width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding: 1rem;
  text-align: center;
  position: relative;
  position: relative;
  z-index: 1;
}

@media (max-width: 600px) {
  body,
  #root {
    overflow: auto;
  }
}
