.NavBar {
  margin: 5px;
}

.navbar li {
  font-weight: 500;
  margin: 5px;
  /* background-color: rgb(246, 78, 11); */
  border-radius: none;
}

/* .navbar:hover {
  background-color: rgb(246, 78, 11);
  transition: 1s ease-in;
} */

/* .navbar li:hover {
  font-weight: 700;
  background-color: rgb(7, 7, 7);
  transition: 0.2s ease-in;
} */
